{% extends 'auth/base.html' %}

{% load static %}

{% block title %} Characters {% endblock %}

{% block content %}
    <div class="row gap-4">
      {% with characters=True %}
      <div class="col-md-2">
          {% include 'auth/partials/aside.html' %}
      </div>
    {% endwith%}
        <div class="col-md-9 mt-4 shadow rounded">
            <h1 class="text-center text-muted">Characters</h1>
            {% if messages %}
              <div class="alert alert-success text-success fw-bold">
                {% for message in messages %}
                  {{ message}}
                {% endfor%}
              </div>
            {% endif %}

            <a href="{% url 'create-character' %}" class="btn btn-sm btn-success">
              <img class="me-1" src="{% static 'icons/new.png' %}" width="20px" alt="">Create Character
            </a>
            
            <div class="rounded-lg shadow p-4 my-4">
                <table class="table table-hover table-r">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Type</th>
                        <th scope="col">Date added</th>
                        <th scope="col">Actions</th>

                      </tr>
                    </thead>
                    <tbody>
                      {% if characters %}
                        {% for character in characters %}
                            <tr>
                                <td>
                                  {{character.id}}
                                </td>
                                <td>
                                  {{character.name}}
                                </td>
                                <td>
                                  {{ character.type}}
                                </td>
                                <td>
                                  {{ character.created_at}}
                                </td>
                                <td class="">
                                    <a href="{% url 'update-character' character.pk %}" class="btn btn-warning btn-sm">
                                      <img class="me-1" src="{% static 'icons/edit.png' %}" width="20px" alt="">Edit character
                                    </a>
                                    <a href="{% url 'delete-character' character.pk %}" class="btn btn-danger btn-sm">
                                      <img class="me-1" src="{% static 'icons/delete.png' %}" width="20px" alt="">Delete character
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                      {% endif %}
                    </tbody>
                  </table> 

                  <div class="text-center justify-content-center align-content-center">
                    {% include 'auth/partials/pagination.html' %}
                  </div>
            </div>
        </div>
    </div>
{% endblock %}

