{% extends 'auth/base.html' %}

{% load static %}

{% block title %} Voices {% endblock %}

{% block content %}
    <div class="row gap-4">
      {% with voices=True %}
      <div class="col-md-2">
          {% include 'auth/partials/aside.html' %}
      </div>
    {% endwith %}
        <div class="col-md-9 mt-4 shadow rounded">
            <h1 class="text-center text-muted">Voices</h1>
            {% if messages %}
              <div class="alert alert-success text-success fw-bold">
                {% for message in messages %}
                  {{ message}}
                {% endfor%}
              </div>
            {% endif %}

            <a href="{% url 'create-voice-authors' %}" class="btn btn-sm btn-success">
              <img class="me-1" src="{% static 'icons/new.png' %}" width="20px" alt="">Create voice
            </a>
            
            <div class="rounded-lg shadow p-4 my-4">
                <table class="table table-hover table-responsive">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% if voices %}
                        {% for voice in voices %}
                            <tr>
                                <td>{{voice.id}}</td>
                                <td>{{voice.name}}</td>
                                <td>
                                    <a href="{% url 'update-voice-authors' voice.pk %}" class="btn btn-warning btn-sm">
                                      <img class="me-1" src="{% static 'icons/pencil.png' %}" width="20px" alt="">Update
                                    </a>
                                    <a href="{% url 'delete-voice-authors' voice.pk %}" class="btn btn-danger btn-sm">
                                      <img class="me-1" src="{% static 'icons/delete.png' %}" width="20px" alt="">Delete voice
                                    </a>
                                </td>

                            </tr>
                        {% endfor %}
                      {% endif %}
                    </tbody>
                  </table> 

                  <div class="text-center justify-content-center align-content-center">
                    {% include 'auth/partials/pagination.html' %}
                  </div>
            </div>
        </div>
    </div>
{% endblock %}

