{% extends 'auth/base.html' %}

{% load static %}

{% block title %} Prhases {% endblock %}

{% block content %}
    <div class="row gap-4">
      {% with phrases=True %}
        <div class="col-md-2">
            {% include 'auth/partials/aside.html' %}
        </div>
      {% endwith%}
        <div class="col-md-9 mt-4 shadow rounded">
            <h1 class="text-center text-muted">Prhases</h1>
            {% if messages %}
              <div class="alert alert-success text-success fw-bold">
                {% for message in messages %}
                  {{ message}}
                {% endfor%}
              </div>
            {% endif %}

            <a href="{% url 'create-phrase' %}" class="btn btn-sm btn-success">
              <img class="me-1" src="{% static 'icons/new.png' %}" width="20px" alt="">Create new Phrase
            </a>
            
            <div class="rounded-lg shadow p-4 my-4">
                <table class="table table-hover table-r">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Channel</th>
                        <th scope="col">Author</th>
                        <th scope="col">Phrase</th>
                        <th scope="col">Is used</th>
                        <th scope="col">Actions</th>

                      </tr>
                    </thead>
                    <tbody>
                      {% if phrases %}
                        {% for phrase in phrases %}
                            <tr>
                                <td>
                                  {{phrase.id}}
                                </td>
                                <td>
                                  {{phrase.channel}}
                                </td>
                                <td>
                                  {{phrase.author}}
                                </td>
                                <td>
                                  {{ phrase.text | truncatechars:50 }}
                                </td>
                                <td>
                                  {% if phrase.is_used %}
                                    Used
                                  {% else %}
                                    Not Used
                                  {% endif %}  
                                </td>
                                <td class="">
                                    <a href="{% url 'details-phrase' phrase.pk %}" class="btn btn-warning btn-sm  ">
                                      <img class="me-1" src="{% static 'icons/eye.png' %}" width="20px" alt="">View details
                                    </a>
                                    <a href="{% url 'delete-phrase' phrase.pk %}" class="btn btn-danger btn-sm">
                                      <img class="me-1" src="{% static 'icons/delete.png' %}" width="20px" alt="">Delete
                                    </a>
                                </td>

                            </tr>
                        {% endfor %}
                      {% endif %}
                    </tbody>
                  </table> 

                  {% if page_obj %}
                    <div class="text-center justify-content-center align-content-center">
                      {% include 'auth/partials/pagination.html' %}
                    </div>
                  {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

