{% extends 'auth/base.html' %}

{% load static %}

{% block title %} Books {% endblock %}

{% block content %}
    <div class="row gap-4">
      {% with books=True %}
        <div class="col-md-2">
            {% include 'auth/partials/aside.html' %}
        </div>
     {% endwith%}
        <div class="col-md-9 mt-4 shadow rounded">
            <h1 class="text-center text-muted display-5 fw-bold">Books</h1>
            {% if messages %}
              <div class="alert alert-success text-success fw-bold">
                {% for message in messages %}
                  {{ message}}
                {% endfor%}
              </div>
            {% endif %}

            <a href="{% url 'create-book' %}" class="btn btn-sm btn-success">
              <img class="me-1" src="{% static 'icons/new.png' %}" width="20px" alt="">Create Book
            </a>
            
            <div class="rounded-lg shadow p-4 my-4">
                <table class="table table-hover table-r">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Author</th>
                        <th scope="col">Purpose</th>
                        <th scope="col">Date added</th>
                        <th scope="col">Actions</th>

                      </tr>
                    </thead>
                    <tbody>
                      {% if books %}
                        {% for book in books %}
                            <tr>
                                <td>
                                  {{book.id}}
                                </td>
                                <td>
                                  {{book.title}}
                                </td>
                                <td>
                                  {{ book.author}}
                                </td>
                                <td>
                                  {{ book.get_purpose_display}}
                                </td>
                                <td>
                                  {{ book.created_at}}
                                </td>
                                <td class="">
                                    <a href="{% url 'update-book' book.pk %}" class="btn btn-warning btn-sm">
                                      <img class="me-1" src="{% static 'icons/edit.png' %}" width="20px" alt="">Edit book
                                    </a>
                                    <a href="{% url 'delete-book' book.pk %}" class="btn btn-danger btn-sm">
                                      <img class="me-1" src="{% static 'icons/delete.png' %}" width="20px" alt="">Delete book
                                    </a>
                                </td>

                            </tr>
                        {% endfor %}
                      {% endif %}
                    </tbody>
                  </table> 

                  {% if page_obj %}
                    <div class="text-center justify-content-center align-content-center">
                      {% include 'auth/partials/pagination.html' %}
                    </div>
                  {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

